@media (max-width: 480px) {
	.LoginDiv {
		/* display: flex; */
		gap: 1vh;
	}
	.details {
		color: rgb(163, 158, 158);
	}
	.ImageDiv {
		background-color: #202c9d;
		color: white;
		/* height: 20vh; */
		width: fit-content;
		display: flex;
		/* flex-direction: column; */
		justify-content: center;
		align-items: center;
		gap: 10vh;
		padding: 1vh;
	}
	.ImageDiv > img {
		width: 50%;
	}
	.ImageDiv > h3 {
		font-weight: 400;
		font-size: 30px;
	}
	.InputDivText {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.InputDiv {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		padding: 1vh;
	}
	.InputDivInner {
		width: auto;
		height: auto;
	}
	.Input {
		display: flex;
		flex-direction: column;
		width: 90vw;
	}
	.PasswordDiv {
		width: 30vw;
		display: flex;
		justify-content: space-between;
	}

	.emailIcon {
		position: absolute;
		width: 15px;
		height: 15px;
		top: 46.5%;
		margin-left: 1%;
	}
	.passwordIcon {
		position: absolute;
		width: 15px;
		height: 15px;
		top: 57.8%;
		margin-left: 1%;
	}
}
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
	.LoginDiv {
		/* display: flex; */
		gap: 1vh;
	}
	.details {
		color: rgb(163, 158, 158);
	}
	.ImageDiv {
		background-color: #202c9d;
		color: white;
		height: auto;
		width: auto;
		display: flex;
		/* flex-direction: column; */
		justify-content: space-between;
		align-items: center;
		gap: 10vh;
		padding: 1vh;
	}
	.ImageDiv > img {
		width: 20%;
	}
	.ImageDiv > h3 {
		font-weight: 400;
		font-size: 30px;
	}
	.InputDivText {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.InputDiv {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		padding: 1vh;
	}
	.InputDivInner {
		width: auto;
		height: auto;
	}
	.Input {
		display: flex;
		flex-direction: column;
		width: 90vw;
	}
	.PasswordDiv {
		width: 30vw;
		display: flex;
		justify-content: space-between;
	}

	.emailIcon {
		position: absolute;
		width: 15px;
		height: 15px;
		top: 46.5%;
		margin-left: 1%;
	}
	.passwordIcon {
		position: absolute;
		width: 15px;
		height: 15px;
		top: 57.8%;
		margin-left: 1%;
	}
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
	.LoginDiv {
		display: flex;
		gap: 10vh;
	}
	.details {
		color: rgb(163, 158, 158);
	}
	.ImageDiv {
		background-color: #202c9d;
		color: white;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
	.ImageDiv > h3 {
		font-weight: 400;
		font-size: 60px;
	}
	.InputDivText {
		display: flex;
		flex-direction: column;
	}
	.InputDiv {
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.InputDivInner {
		width: auto;
		height: auto;
	}
	.Input {
		display: flex;
		flex-direction: column;
		width: 30vw;
	}
	.PasswordDiv {
		width: 30vw;
		display: flex;
		justify-content: space-between;
	}

	.emailIcon {
		position: absolute;
		width: 15px;
		height: 15px;
		top: 46.5%;
		margin-left: 1%;
	}
	.passwordIcon {
		position: absolute;
		width: 15px;
		height: 15px;
		top: 57.8%;
		margin-left: 1%;
	}
}
/* Media Query for Large screens */
@media (min-width: 1281px) {
	.LoginDiv {
		display: flex;
		gap: 10vh;
	}
	.details {
		color: rgb(163, 158, 158);
	}
	.ImageDiv {
		background-color: #202c9d;
		color: white;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
	.ImageDiv > h3 {
		font-weight: 400;
		font-size: 60px;
	}
	.InputDivText {
		display: flex;
		flex-direction: column;
	}
	.InputDiv {
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.InputDivInner {
		width: auto;
		height: auto;
	}
	.Input {
		display: flex;
		flex-direction: column;
		width: 30vw;
	}
	.PasswordDiv {
		width: 30vw;
		display: flex;
		justify-content: space-between;
	}

	.emailIcon {
		position: absolute;
		width: 15px;
		height: 15px;
		top: 46.5%;
		margin-left: 1%;
	}
	.passwordIcon {
		position: absolute;
		width: 15px;
		height: 15px;
		top: 57.8%;
		margin-left: 1%;
	}
}
