.personMainContainer {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	gap: 1vh;
}
.MainDiv {
	margin-left: 2vw;
	margin-right: 2vw;
	/* border:1px solid black; */
	width: 95vw;
	height: auto;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	/* padding-left: 2vw; */
	padding-right: 2vw;
}
.cardWrapper {
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	border: 1px solid skyblue;
	border-radius: 5px;
	width: auto;
	height: auto;
}
.InnerText {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 1vh;
}
.InnerCard {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: nowrap;
	/* flex-wrap: wrap; */
	width: auto;
}
.InnerCard > img {
	width: 10vw;
	height: 10vw;
}
.personRow2 {
	display: flex;

	width: auto;

	gap: 1vh;
	flex-wrap: nowrap;
}
.personRow2Col1 {
	display: flex;
	width: auto;
	justify-content: space-between;
	flex-wrap: wrap;
}
.personRow2Col1CardWrapper {
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	border: 1px solid skyblue;
	border-radius: 5px;
	width: 20vh;
	height: auto;
}
.InnerTextCol2 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 1vh;
}
.personRow2Col2CardWrapper {
	cursor: pointer;
	width: auto;
	display: flex;
	flex-direction: column;
	gap: 10vh;
	padding: 2vh;
	border: 1px solid skyblue;
	border-radius: 5px;
}
.iconText {
	display: flex;
	gap: 5vh;
	align-items: center;
}
.GraphDiv {
	border: 1px solid skyblue;
	border-radius: 5px;
	margin-bottom: 2%;
	padding: 1%;
}
